  <div class="actions">
                <fieldset>
                  <legend>Actions</legend>
                  <input type="button" id="source_btn" value="Refresh" />

                  <input style="display:none" type="button" id="wcc_btn" value="View working copy changes" />
                </div>
          
                <div id="results">
                  <p><i class="fa fa-clock-o"></i> Waiting for action...</p>
                </div>
          
          <script type="text/javascript">
          <!--
          
          $('#source_btn').click(function(){ 
            getReplyWithCallBack('/repo-read/source-files/%3E', replaceLinks);
          });

          $('#wcc_btn').click(function(){ 
            getReplyWithCallBack('/commit/working-copy-changes', replaceLinks);
          });

          $( document ).ready(function() {
              getReplyWithCallBack('/repo-read/source-files/%3E', replaceLinks);
          });


          //replace links with confirmation action
          function replaceLinks()
          {
            $('.discoveryProcessor').each(function() {
              var url = $(this).attr('href');
              var addrEnc = url.substr(url.lastIndexOf('/')+1)
              var addr = addrEnc.split("%3E").join("/");
              $(this).attr('href', '#');
              $(this).click(function(){
                getReplyWithCallBack(url, replaceLinks)
              });
            });

            $('.commitProcessorBrowse').each(function() {
              var url = $(this).attr('href');
              var addrEnc = url.substr(url.lastIndexOf('/')+1)
              var addr = addrEnc.split("%3E").join("/");
              $(this).attr('href', '#');
              $(this).click(function(){
                getReplyWithCallBack(url, replaceLinks)
              });
            });

            $('.commitProcessorUploadNewV').each(function() {
              var url = $(this).attr('href');
              var addrEnc = url.substr(url.lastIndexOf('/')+1)
              var addr = addrEnc.split("%3E").join("/");
              $(this).attr('href', '#');
              $(this).click(function(){
                confirmAndAjax(url, 'Commit the new version of this file : '+addr)
              });
            });

            $('.commitProcessorUploadNewFile').each(function() {
              var url = $(this).attr('href');
              var addrEnc = url.substr(url.lastIndexOf('/')+1)
              var addr = addrEnc.split("%3E").join("/");
              $(this).attr('href', '#');
              $(this).click(function(){
                confirmAndAjax(url, 'Commit this new file on the repository : '+addr)
              });
            });

            $('.commitProcessorUploadNewDir').each(function() {
              var url = $(this).attr('href');
              var addrEnc = url.substr(url.lastIndexOf('/')+1)
              var addr = addrEnc.split("%3E").join("/");
              $(this).attr('href', '#');
              $(this).click(function(){
                confirmAndAjax(url, 'Commit this directory on the repository : '+addr)
              });
            });

            $('.commitProcessorUploadDelete').each(function() {
              var url = $(this).attr('href');
              var addrEnc = url.substr(url.lastIndexOf('/')+1)
              var addr = addrEnc.split("%3E").join("/");
              $(this).attr('href', '#');
              $(this).click(function(){
                confirmAndAjax(url, 'Commit this deletion to the repository : '+addr)
              });
            });
          }

          -->
          </script>