
  <div class="actions">
                <fieldset>
                  <legend>Actions</legend>
                  <input type="button" id="structural_btn" value="Structural view" />
                  <input type="button" id="flat_btn" value="Flat listening" />
                  <input type="button" id="new_v_btn" value="Get new versions" />

                </div>
          
                <div id="results">
                  <p><i class="fa fa-clock-o"></i> Waiting for action...</p>
                </div>
          
          <script type="text/javascript">
          <!--
          

          $( document ).ready(function() {
              getReplyWithCallBack('/repo-read/dest-files/%3E', replaceLinks);
          });


          $('#new_v_btn').click(function(){ 
            getReplyWithCallBack('/harvester/harvest-new-versions', replaceLinks);
          });



          $('#flat_btn').click(function(){ 
            getReplyWithCallBack('/repo-read/dest-files/*', replaceLinks);
          });

          $('#structural_btn').click(function(){ 
            getReplyWithCallBack('/repo-read/dest-files/%3E', replaceLinks);
          });

          //replace links with confirmation action
          function replaceLinks()
          {
            $('.discoveryProcessor').each(function() {
              var url = $(this).attr('href');
              var addrEnc = url.substr(url.lastIndexOf('/')+1)
              var addr = addrEnc.split("%3E").join("/");
              $(this).attr('href', '#');
              $(this).click(function(){
                getReplyWithCallBack(url, replaceLinks)
              });
            });

            $('.sendKey').each(function() {
              var url = $(this).attr('href');
              var parts = url.split('/')
              var last = parts.length-1;
              var keys = parts[last].replace("-", "").replace("-", "").replace("-", "").replace("-", "").replace("-", "").replace("-", "").toUpperCase()

              $(this).attr('href', '#');
              $(this).click(function(){
                confirmAndAjax(url, 'Send <b>'+keys+'</b> key <span class="powerUser">'+parts[last-1]+'<br />&nbsp;&nbsp;to '+parts[last-2]+'</span>')
              });
            });


            $('.decryptFile').each(function() {
              var url = $(this).attr('href');
              var parts = url.split('/')
              var last = parts.length-1;
              var addr = parts[last].split("%3E").join("/");

              $(this).attr('href', '#');
              $(this).click(function(){
                confirmAndAjax(url, 'Decrypt file <span class="powerUser">'+parts[last-1]+'</span> towards '+addr)
              });
            });
          }

          -->
          </script>