<style>
<!--
.jumbotron
{
  display:none;
}
.file-explorer-content
{
  margin-top:50px;
}
#contents
{
  margin:0px;
}
-->
</style>
<div class="file-explorer-content">
  <div class="column_left">
    <iframe src="/commit-headless"></iframe>
  </div>

  <div class="column_right">
    <iframe src="/repo-read-headless"></iframe>
  </div>
</div>
<script type="text/javascript">


 $( document ).ready(function() {
  $(userTypeId).click(function ()
    {
      setTimeout(function() {
        location.reload();
  }, 1000);
    }); 
  });
</script>