
<h2>1. Edit the XML configuration</h2>
<p>Set up the local folders and the remote repository by chaning the values in /config.xml
</p>


<h2>2. Create an identity</h2>
<p>When you launch the program for the first time, an anonymous identity is created; you can have a look in <a href="/public_identities"><i class="fa fa-users"></i> Identities</a> under "View my identities". Take the time to immediately create a name that is more significant for your co-workers; once a file is published under an identity, it is forever attached to it.
</p>
<p>Once you created an identity, <b>restart the program</b> by closing the terminal, and restarting it. The identities are loaded at the begining of the application; only then you will be able to change your current identity. If you have several identities, the oldest is selected. You probably want to <b>delete the previous anonymous identity</b>, as it will be selected by default otherwise.
</p>

<h2>3. Commit files and directories</h2>
<p>You can already start working on your own.
</p>

<h2>4. Share rights with your co-workers</h2>
<p>Use the <b><i class="fa fa-paper-plane"></i> Paperplane Icon</b> next to a file or a folder to send the rights to your co-workers.
</p>
<p><b>R</b> is a read-only access, <b>W</b> or <b>RW</b> is read <em>and</em> write access, and <b>CR</b>, <b>CW</b> are the cascading read and write rights.
</p>

<h2>5. Get rights from your co-workers</h2>
<p>If a co-worker sends you a right like described in <b>4.</b>, it will appear in the <a href="/mails"><i class="fa fa-envelope"></i> Mailbox</a>. You can review what was sent to you, and accept or deny rights individually.
</p>

<h2>6. Start trusting</h2>
<p>Notice how most of the files have the tag <span class="unknown-id"><i class="fa fa-exclamation-triangle"></i> Unknown Identity</span> next to them. The software warns you because you don't trust the owner of the file (keep in mind that the person that sent you the rights and the owner can be different).
</p>
<p>
To remove this warning, go to <a href="/public_identities"><i class="fa fa-users"></i> Identities</a>, review carefully the information that is <b>claimed</b> by our co-workers (no verification is done about the real identity behind the claim), and accept the identities you trust.
</p>
<p>Should one co-workers' computer be compromised, you can at all times reject a previously trusted identitiy.</p>

<h2>7. Get news keys</h2>
<p>Rights propagates automatically to new version of files; Use the button "Discover new versions" in <a href="/repo-read"><i class="fa fa-folder-open"></i> Discovery Processor</a> to retrieve the new versions'key available. Your co-workers do not need to send them to you.
</p>
<p>You can also discover news keys by Harvesting. If you have cascading rights on a directory, you can use it to retrieve all sub-keys. To do this, go to <a href="/harvester"><i class="fa ffa-sort-amount-asc"></i> Harvester</a> and click <em>View directories</em> to see the ones where you can start the procedure. Do so by clicking the <em>Harvest</em> link next to the directory.
</p>

<h2>8. Troubleshooting</h2>
<p>Would an error occur (either reported directely to you, or perhaps with a non-stopping <i class="fa fa-spin fa-circle-o-notch"></i> Loading... text), you can first review the output of the faulty processor in <a href="\logs"><i class="fa fa-align-left"></i> Logs</a> (tip: make sure to filter with the tag <em>Error</em>), as it might reveal a trivial error (Typical "error" is not having sufficient rights to perform an action). In other circumstances, you might want to report the problem (including the full output of the Logger) in the issue tracking section of <a href="https://bitbucket.org/lbarman/securecloudextension/">the source repository</a>.
</p>