  <div class="actions">
                <fieldset>
                  <legend>Actions</legend>
                  <input type="button" id="directories_btn" value="Harvest top-down" />
                  <input type="button" id="new_v_btn" value="Harvest new versions" />
                </div>
          
                <div id="results">
                  <p><i class="fa fa-clock-o"></i> Waiting for action...</p>
                </div>
          
          <script type="text/javascript">
          <!--

          $( document ).ready(function() {
              getReplyWithCallBack('/harvester/all-dirs', replaceLinks);
          });
          

          $('#directories_btn').click(function(){ 
            getReplyWithCallBack('/harvester/all-dirs', replaceLinks);
          });

          $('#new_v_btn').click(function(){ 
            getReplyWithCallBack('/harvester/harvest-new-versions', replaceLinks);
          });


          $('#new_identity_btn').click(function(){ 
            if(!highlightIfEmpty('identity_i'))
            {
              confirmAndAjax('/commit/commit-identity/'+$('#identity_i').val(), 'Publicly announce your new identity <em>'+$('#identity_i').val()+'</em>.');
              $("#identity_i").val("");
            }
          });

          //replace links with confirmation action
          function replaceLinks()
          {
            $('.harvest').each(function() {
              var url = $(this).attr('href');
              var addrEnc = url.substr(url.lastIndexOf('/')+1)
              var addr = addrEnc.split("%3E").join("/");
              $(this).attr('href', '#');
              $(this).click(function(){
                confirmAndAjax(url, 'Harvest top-down all possible keys from : '+addr)
              });
            });
          }

          -->
          </script>