<html>
   <head>
      <title>[Stratus] {{file_title}}</title>
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
      <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="http://bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet" />
      <link href="http://localhost:8888/resources/style.css" rel="stylesheet" />
      <link href="http://localhost:8888/resources/normal_user.css" title="normalUserCss" rel="stylesheet" type="text/css"  />
   </head>
   <body>
      <!-- MENU -->
      <div class="navbar navbar-default">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="/"><i class="fa fa-cloud"></i>&nbsp;&nbsp;Stratus Cloud Extention</a>
            
            
       <ul class="nav navbar-nav" style="margin-left:30px">
         <li class="dropdown" id="menu1">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Access:<b class="caret"></b></a>
           <ul class="dropdown-menu">
             <li class="powerUser"><a href="/file-explorer"><i class="fa fa-pause"></i> File Explorer</a></li>
             <li class="divider powerUser"></li>
             <li><a href="/repo-read"><i class="fa fa-folder-open"></i> Discovery Processor</a></li>
             <li><a href="/commit"><i class="fa fa-cloud-upload"></i> Commit Processor</a></li>
             <li class="divider"></li>
             <li><a href="/masterkey"><i class="fa fa-lock"></i> Master Password</a></li>
             <li><a href="/public_identities"><i class="fa fa-users"></i> Identities</a></li>
             <li><a href="/mails"><i class="fa fa-envelope"></i> Mails</a></li>
             <li class="divider powerUser"></li>
             <li class="powerUser"><a href="/harvester"><i class="fa fa-sort-amount-asc"></i> Harvester</a></li>
             <li class="powerUser"><a href="/keys"><i class="fa fa-database"></i> Databases</a></li>
             <li class="powerUser"><a href="/logs"><i class="fa fa-align-left"></i> Logger</a></li>
           </ul>
         </li>
       </ul>

            <a class="navbar-brand" id="navbar-identity" href="/public_identities">...</a>
            <a class="navbar-brand" id="navbar-poweruser" href="/">...</a>
         </div>
      </div>
      <!-- Contents -->
      <div class="jumbotron">
         <h1>{{page_title}}</h1>
         <p>A secure, open-source cloud for collaborative work, with fine-grained rights management.</p>
      </div>
      <div id="contents">
        <div class="homeMenu">
         <div class="homeMenuBox">
            <h2><a href="/getting-started"><i class="fa fa-life-ring"></i> Get started</a></h2>
            <span class="desc">A quick introduction to get you up and running</span>
         </div>
         <div class="homeMenuBox">
            <h2><a href="/masterkey"><i class="fa fa-lock"></i> Master Password</a></h2>
            <span class="desc">Protect the keys at rest on your computer</span>
         </div>
         <div class="homeMenuBox">
            <h2><a href="/mails"><i class="fa fa-envelope"></i> Mails</a></h2>
            <span class="desc">Retrieve the keys your coworker sent you</span>
         </div>
         <div class="homeMenuBox">
            <h2><a href="/repo-read"><i class="fa fa-folder-open"></i> Discovery Processor</a></h2>
            <span class="desc">See the contents of the repository</span>
         </div>
         <div class="homeMenuBox">
            <h2><a href="/commit"><i class="fa fa-cloud-upload"></i> Commit Processor</a></h2>
            <span class="desc">Send files to the server</span>
         </div>
         <div class="homeMenuBox powerUser">
            <h2><a href="/file-explorer"><i class="fa fa-pause"></i> Dual Explorer</a></h2>
            <span class="desc">Commit &amp; Discover side-by-side.</span>
         </div>
         <div class="homeMenuBox powerUser">
            <h2><a href="/harvester"><i class="fa fa-sort-amount-asc"></i> Harvest Processor</a></h2>
            <span class="desc">Discover new keys</span>
         </div>
         <div class="homeMenuBox">
            <h2><a href="/public_identities"><i class="fa fa-users"></i> Identities</a></h2>
            <span class="desc">Manages your identity, accept other's</span>
         </div>
         <div class="homeMenuBox powerUser">
            <h2><a href="/keys"><i class="fa fa-database"></i> Local &amp; Public Keys</a></h2>
            <span class="desc">Raw display of the databases</span>
         </div>
         <div class="homeMenuBox powerUser">
            <h2><a href="/logs"><i class="fa fa-align-left"></i> Logger</a></h2>
            <span class="desc">A trace of everything that happened</span>
         </div>

       </div>
         <div id="footer">
            <p>"Secure cloud extention", Semester project for LASEC, EPFL</p>
            <p>Author : Ludovic Barman</p>
            <p>February-June 2014</p>
         </div>
      </div>

      <script src="http://localhost:8888/resources/jquery.js"></script>
      <script src="http://localhost:8888/resources/jquery.cookie.js"></script>
      <script src="http://localhost:8888/resources/powerUser.js"></script>
      <script src="http://localhost:8888/resources/commonScripts.js"></script>
   </body>
</html>