  <div class="actions">
                <fieldset>
                  <legend>Actions</legend>
                  <input type="button" id="publicIds_btn" value="View all public identities" />
                  <input type="button" id="idsAccepted_btn" value="View accepted public identities" />
                  <input type="button" id="myIds_btn" value="View my identities" />
                  <hr />
                  <label for="pass_i">Name :</label>
                  <input type="text" name="identity_i" id="identity_i" class="text"/>
                  <input type="button" id="new_identity_btn" value="Publish new identity" />
                </div>
          
                <div id="results">
                  <p><i class="fa fa-clock-o"></i> Waiting for action...</p>
                </div>
          
          <script type="text/javascript">
          <!--
          
          
          $( document ).ready(function() {
            getReplyWithCallBack('/public_identities/public-ids', replaceLinks);
          });

          $('#publicIds_btn').click(function(){ 
            getReplyWithCallBack('/public_identities/public-ids', replaceLinks);
          });
          $('#idsAccepted_btn').click(function(){ 
            getReplyWithCallBack('/public_identities/accepted-ids', replaceLinks);
          });
          $('#myIds_btn').click(function(){ 
            getReplyWithCallBack('/public_identities/my-ids', replaceLinks);
          });

          $('#new_identity_btn').click(function(){ 
            if(!highlightIfEmpty('identity_i'))
            {
              confirmAndAjax('/commit/commit-identity/'+$('#identity_i').val(), 'Publicly announce your new identity <em>'+$('#identity_i').val()+'</em>.');
              $("#identity_i").val("");
            }
          });

          //replace links with confirmation action
          function replaceLinks()
          {
            $('.identityDelete').each(function() {
              var url = $(this).attr('href');
              var addr = url.substr(url.lastIndexOf('/')+1)
              $(this).attr('href', '#');
              $(this).click(function(){
                confirmAndAjax(url, 'Delete local identity : '+addr)
              });
            });

            $('.identitySwitch').each(function() {
              var url = $(this).attr('href');
              var addr = url.substr(url.lastIndexOf('/')+1)
              $(this).attr('href', '#');
              $(this).click(function(){
                confirmAndAjaxWithCallback(url, 'Switch to this identity : '+addr, refreshIdentity)
              });
            });

            $('.identityAccept').each(function() {
              var url = $(this).attr('href');
              var addr = url.substr(url.lastIndexOf('/')+1)

              $(this).attr('href', '#');
              $(this).click(function(){
                confirmAndAjax(url, 'Accept and, for now on, trust this public identity : '+addr)
              });
            });

            $('.identityReject').each(function() {
              var url = $(this).attr('href');
              var addr = url.substr(url.lastIndexOf('/')+1)

              $(this).attr('href', '#');
              $(this).click(function(){
                confirmAndAjax(url, 'Reject and no longer trust this public identity : '+addr)
              });
            });
          }
          -->
          </script>