  <div class="actions">
                <fieldset>
                  <legend>Actions</legend>
                  <input type="button" id="local_btn" value="View local keys" />

                  <input type="button" id="public_btn" value="View public keys" />
                </div>
          
                <div id="results">
                  <p><i class="fa fa-clock-o"></i> Waiting for action...</p>
                </div>
          
          <script type="text/javascript">
          <!--
          
          $('#local_btn').click(function(){ 
            getReplyWithCallBack('/keys/local/', replaceLinks);
          });

          $('#public_btn').click(function(){ 
            getReplyWithCallBack('/keys/public/', replaceLinks);
          });

          $( document ).ready(function() {
              getReplyWithCallBack('/keys/local/', replaceLinks);
          });


          //replace links with confirmation action
          function replaceLinks()
          {
          }

          -->
          </script>