<div class="actions">
                <fieldset>
                  <label for="pass_i">Filter with :</label>
                  <input type="text" name="filter_i" id="filter_i" class="text"/>
                </fieldset>
                </div>
          
                <div id="results"><p><i class="fa fa-spin fa-circle-o-notch"></i> Loading...</p>
                </div>
                  
                  <script type="text/javascript">
          <!--
          
            var json = jQuery.parseJSON("[]")
            var isWaitMessage = false;

          $( document ).ready(function() {

            $.ajax({
                type: "GET",
              url: "/logs/raw"
            })
              .done(function( data ) {
                json = jQuery.parseJSON(data);
                refresh();
              });

          });
            
            function refresh()
            {           
              var filter = $("#filter_i").val();
            
              var stringBuilder = "";
              jQuery.each(json, function() {
                if(filter == "" || this.toLowerCase().indexOf(filter.toLowerCase()) > -1)
                {
                  stringBuilder += "<li>"+this+"</li>"
                }
              });
            
              if(stringBuilder == "")
              {
                stringBuilder = "-- No messages --";
              }
            
              $("#results").html( '<ul class="logsUl">' + stringBuilder + '</ul>');
              isWaitMessage = false;

            }
                        
            var stoppedTyping;
            function prepareRefresh()
            {
              if(!isWaitMessage)
              {
                $("#results").html( '<div class="pleaseWait"><i class="fa fa-spin fa-refresh"></i> Please wait...</div>');
                isWaitMessage = true;
              }
                if (stoppedTyping) 
              {
                clearTimeout(stoppedTyping);
              }
            
              stoppedTyping = setTimeout(function()
              {
                  refresh();
                }, 500);
            }
            
            $('#filter_i').on('keypress', function()
            {
              prepareRefresh();
            });
            
            
            $('#filter_i').change(function()
            {
              prepareRefresh();
            });
            
            $('#filter_i').on('keyup', function()
            {
              prepareRefresh();
            });
            
            
            refresh();
          
          -->
          </script>