  <div class="actions">
                <fieldset>
                  <legend>Actions</legend>
                  <input type="button" id="inbox_btn" value="Inbox" />
                </div>
          
                <div id="results">
                  <p><i class="fa fa-clock-o"></i> Waiting for action...</p>
                </div>
          
          <script type="text/javascript">
          <!--
          
          $('#inbox_btn').click(function(){ 
            getReplyWithCallBack('/mails/inbox', replaceLinks);
          });

          $( document ).ready(function() {
              getReplyWithCallBack('/mails/inbox', replaceLinks);
          });


          //replace links with confirmation action
          function replaceLinks()
          {
            $('.mailToOpen').each(function() {
              var url = $(this).attr('href');
              var addrEnc = url.substr(url.lastIndexOf('/')+1)
              var addr = addrEnc.split("%3E").join("/");
              $(this).attr('href', '#');
              $(this).click(function(){
                confirmAndAjax(url, 'Open this mail : '+addr)
              });
            });
            $('.deleteMail').each(function() {
              var url = $(this).attr('href');
              var addrEnc = url.substr(url.lastIndexOf('/')+1)
              var addr = addrEnc.split("%3E").join("/");
              $(this).attr('href', '#');
              $(this).click(function(){
                confirmAndAjax(url, 'Delete this mail : '+addr)
              });
            });

          }

          -->
          </script>