  <div class="actions">
                <fieldset>
                  <legend>Actions</legend>
                  <label for="pass_i">Password :</label>
                  <input type="password" name="pass_i" id="pass_i" class="text"/>
                  <input type="button" id="decrypt_btn" value="Decrypt local keys" />
                  <input type="button" id="encrypt_btn" value="Encrypt local keys" />
                  <input type="button" id="test_btn" value="Try password" />
                  <hr />
                  <input type="button" id="status_btn" value="Read status" />
                  <input type="button" id="clean_btn" value="Clean sensible files" />
                </fieldset>
                </div>
          
                <div id="results">
                  <p><i class="fa fa-clock-o"></i> Waiting for action...</p>
                </div>
          
          <script type="text/javascript">
          <!--
          
          $('#status_btn').click(function(){ 
            getReply('/masterkey/status');
          });
          $('#clean_btn').click(function(){ 
            confirmAndAjax('/masterkey/clean-unprotected', 'Deletes all unprotected local keys.');
          });
          $('#test_btn').click(function(){ 
            if(!highlightIfEmpty('pass_i'))
            {
              confirmAndAjax('/masterkey/test-password/'+$('#pass_i').val(), 'Tests if the given password *seems* correct. Will fail if there is no protected local key.');
              $("#pass_i").val("");
            }
          });
          $('#decrypt_btn').click(function(){ 
            if(!highlightIfEmpty('pass_i'))
            {
              confirmAndAjax('/masterkey/decrypt-with/'+$('#pass_i').val(), 'Decryption of all protected local key files');
              $("#pass_i").val("");
            }
          });
          $('#encrypt_btn').click(function(){ 
            if(!highlightIfEmpty('pass_i'))
            {
              confirmAndAjax('/masterkey/encrypt-with/'+$('#pass_i').val(), 'Encryption of all unprotected local key files with the new password. Erases previous protected local keys.');
              $("#pass_i").val("");
            }
          });
          -->
          </script>