#grid_main {
	display: block;
	font-size: 20px;
	margin: auto auto 100px;
	padding: 10px;
	width: 80%;
}
#grid_main tr td {
	padding-bottom: 20px;
	padding-top: 20px;
}
h2 {
	font-size: 28px;
}
#contents {
	margin-left: 5%;
	margin-right: 5%;
}
.navbar {
	margin-bottom: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.jumbotron {
	margin-top: 45px;
	padding: 30px 5%;
}
.jumbotron h1 {
	font-size: 40px;
}
.jumbotron p {
	font-size: 15px;
}
.deletion {
	color: red;
	text-decoration: line-through;
}
.accepted_id {
	color: green;
}
.not_accepted_id {
	color: red;
}
.canread {
	color: green;
}
.canwrite {
	color: red;
}
.actions {
	display: block;
	float: left;
	width: 20%;
}
.actions label, .actions input {
	display: block;
	margin: 2px;
	padding-left: 20px;
	text-align: left;
	width: 100%;
}
.actions label {
	font-size: 120%;
}
#results {
	margin-left: 25%;
}
#results h2 {
	margin-bottom: 40px;
	margin-top: 40px;
}
.actionConfirm .confirm {
	display: block;
	font-size: 120%;
	font-weight: 700;
}
.actionConfirm .action {
	background-color: #FAFAFA;
	display: block;
	padding: 30px;
}
.text-shakefix {
	font-size: 160%;
	padding: 0;
}
.highlight {
	border: 2px solid blue;
}
.resultsHeader {
	display: block;
	font-size: 120%;
	font-weight: 700;
	margin-bottom: 20px;
}
.trusted-id, .success {
	color: #46b525;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
.unknown-id, .failure {
	color: #ed6a68;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
.successC {
	color: #46b525;
}
.failureC {
	color: #ed6a68;
}
.debugC {
	color: purple;
}
.infoC {
	color: orange;
}
.logsUl {
	list-style: none;
	padding: 0;
}
.logsUl li {
	padding: 2px;
}
.path, .domain, .addressing, .timestamp, .keyDb {
	background-color: #fafafa;
	display: inline-block;
	font-family: Consolas;
	margin: 1px 5px;
}
.keyDb i, .path i, .domain i, .addressing i, .timestamp i {
	display: inline-block;
	margin-right: 10px;
}
ul.filelist li {
	padding: 0;
}
.extraInfo
{
	margin-top:10px;
	margin-bottom:20px;
	display:block;
}
ul.filelist li .firstline {
	display: inline-block;
	padding-bottom: 5px;
}
.keyName {
	font-weight: 700;
}
#footer {
	display: block;
	font-size: 12px;
	margin: auto;
	padding-top: 60px;
	text-align: center;
}
.desc {
	display: block;
	font-size: 12px;
	margin-left: 50px;
}
a:hover, a:visited, a:link, a:active {
	text-decoration: none!important;
}
.homeMenu {
	display: block;
	margin: auto;
	text-align: center;
	width: 80%;
}
.homeMenuBox {
	display: inline-block;
	height: 100px;
	margin: 10px;
	text-align: left;
	width: 300px;
}
#navbar-identity span
{
	color:white !important;
}
#navbar-identity, #navbar-poweruser {
	display: block;
	float: right;
}
#navbar-poweruser {
	font-size: 90%;
}
.navbar-header {
	width: 100%;
}
.normalUser
{
	display:none;
}
.column_left
{
	width:50%;
	float: left;
}
.column_right
{
	width:50%;
	margin-left: 50%;
}

.column_left iframe,
.column_right iframe
{
	width:100%;
	height:90%;
	border:1px #CCC solid;
}