<html>
<head>
  <title>[Stratus] {{file_title}}</title>
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
      <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="http://bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet" />
      <link href="http://localhost:8888/resources/style.css" rel="stylesheet" />
      <link href="http://localhost:8888/resources/normal_user.css" title="normalUserCss" rel="stylesheet" type="text/css"  />
      
      <script src="http://localhost:8888/resources/jquery.js"></script>
      <script src="http://localhost:8888/resources/jquery.cookie.js"></script>
</head>
<body>

	<!-- MENU -->
	<div id="navbar_stratus" class="navbar navbar-default">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/"><i class="fa fa-cloud"></i>&nbsp;&nbsp;Stratus Cloud Extention</a>

	    <ul class="nav navbar-nav" style="margin-left:30px">
	      <li class="dropdown" id="menu1">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Access:<b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li class="powerUser"><a href="/file-explorer"><i class="fa fa-pause"></i> File Explorer</a></li>
	          <li class="divider powerUser"></li>
	          <li><a href="/repo-read"><i class="fa fa-folder-open"></i> Discovery Processor</a></li>
	          <li><a href="/commit"><i class="fa fa-cloud-upload"></i> Commit Processor</a></li>
	          <li class="divider"></li>
	          <li><a href="/masterkey"><i class="fa fa-lock"></i> Master Password</a></li>
	          <li><a href="/public_identities"><i class="fa fa-users"></i> Identities</a></li>
	          <li><a href="/mails"><i class="fa fa-envelope"></i> Mails</a></li>
	          <li class="divider powerUser"></li>
  	          <li class="powerUser"><a href="/harvester"><i class="fa fa-sort-amount-asc"></i> Harvester</a></li>
  	          <li class="powerUser"><a href="/keys"><i class="fa fa-database"></i> Databases</a></li>
  	          <li class="powerUser"><a href="/logs"><i class="fa fa-align-left"></i> Logger</a></li>
	        </ul>
	      </li>
	    </ul>

            <a class="navbar-brand" id="navbar-identity" href="/public_identities">...</a>
            <a class="navbar-brand" id="navbar-poweruser" href="/">...</a>

	  </div>
	</div>


	<!-- Contents -->
	<div class="jumbotron">
	  <h1><a href="/"><i class="fa fa-home"></i></a> <i class="fa fa-angle-right"></i> {{page_title}}</h1>
	  <p>{{page_desc}}</p>
	</div>

	<div id="contents">
		{{body}}
	</div>
      <script src="http://localhost:8888/resources/powerUser.js"></script>
      <script src="http://localhost:8888/resources/commonScripts.js"></script>
</body>
</html>
